*,
*::before {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
}

.header {
	background-image: url(images/header-img.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: right;
}

.menu {
	padding-top: 70px;
	margin-right: 130px;
}

.menu__item {
	text-decoration: none;
	color: #fff;
	margin-right: 60px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
}

.menu__item:last-child {
    margin-right: 0;
  }

.burger {
	display: none;
}

.header__title {
	margin-right: 130px;
	margin-top: 131px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 47px;
	color: #e1e6e9;
}

.header__text {
	margin-top: 11px;
	margin-right: 130px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: right;
	color: #e1e6e9;
	text-align: right;
}

.header__btn {
	display: inline-block;
	margin-top: 69px;
	margin-right: 130px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	color: #fff;
	background: #e0036e;
	padding: 16px 66px;
}

.sale__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	color: #585858;
	margin-top: 55px;
}

.sale__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	color: #263b83;
	margin-top: 40px;
}

.sale__btn {
	position: relative;
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	left: 50%;
	transform: translate(-50%, 0);
	color: #000;
	background: #ffda45;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
	padding: 16px 66px;
}

.sale__text-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #585858;
	margin-top: 34px;
}

.sale__text-item_active:hover {
	text-decoration: underline #ffda45; 
}

.competition{
	background-image: url(images/background.jpg);
	width: 100%;
	height: 327px;
}

.competition__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 35px;
	color: #fff;
	top: 118px;
}

.competition__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	color: #fff;
}

.img {
	display: block;
	max-width: 464px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -126px
}

.competition__btn {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	position: absolute;
	top: 1500px;
	left: 1400px;
	color: #000;
	background: #ffda45;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
	padding: 15px 30px;
}